.vAccordionTable .row{
	/*clear: left;*/
}
.vAccordionTable .cell{
	float:left;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.vAccordionTable .cell.top{
	border-top:1px solid #ccc;
}
.vAccordionTable .cell.left{
	border-left:1px solid #ccc;
}

.vAccordionTable .cell.header{
	font-weight: bold;
	text-align:center;
	padding-top:10px;
	height:25px;
}
.vAccordionTable .cell.dynamic{
	background-color:#ddf;
}

