body{
	font-family: Verdana, Arial, Sans-Serif;
}

.slide{
	display:none;
}
.ext{display:none;}
.speaker{
	font-size:22px;
}
.speaker .ext{
	background-color:#ddd;
	display: block;
}

.youtube{
	display:none;
	color:#fff;
}
.speaker .youtube{display:block;}
