body{
	font-family: Arial;
	font-size:14px;
}

p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.details{
	font-family:Tahoma, Arial;
	font-size:12px;
	margin-left:20px;
	color:#555555;
}

.relation {
	color:#888888;
}

.itemPanel{
	border:1px solid #888888; 
	padding:3px; 
	margin:5px;
}

p.itemName{
	margin-top:0px; 
	margin-bottom:3px;
}

span.itemName{
	font-weight:bold;
	padding:3px;
}

.attention{
	background-color:#ffff88;
	color:#000044;
}

.link{
	color:#0000aa;
	text-decoration:underline;
	cursor:hand;
	cursor:pointer;
}

.undefinedItem{
	color:#ff0000;
}

.warning{
	border:1px solid #880000;
	padding:5px;
	margin:10px;
	background-color:#ffffaa;
}

.subTitle{
	font-weight:bold;
}

p.logo{
	text-align:center;
	color:#aaaaaa;
	font-family:Verdana;
	font-size:10px;
	margin-top:40px;
}

