body{	
	font-family:verdana, sans-serif;
	font-size:12px;
}
a:visited {
	color:#0000cc;
	text-decoration:none;
}
a:link {
	color:#0000cc;
	text-decoration:none;
}
a:hover {
	color:#0000ff;
	text-decoration:underline;
}
.section{
	margin-left:15px;
	border-left: 1px solid #000000;
	padding-left:10px;
	border-bottom: 1px solid #000000;
	padding-bottom: 5px;
	margin-bottom:2px;
	background-color:#ffffff;
}
h1, h2, h3, h4{
	margin:0px;
	padding 0px;
}
h1{
	font-size:16px;
	text-align:center;
	margin-top:10px;
}
h1.problem{
	font-size:14px;
	text-align:left;
	background-color:#ddddee;
	color:#000044;
	cursor:hand;
	cursor:pointer;
}
h2{
	font-size:12px;
	margin-top:5px;
}
h3, h4{
	font-size:11px;
}
h2.solution{
	color:#2222ff;
}
p{
	margin-top:0px;
	margin-bottom:3px;
	padding-top:0px;
	padding-bottom:0px;
}
.transparent{color:#aaaaaa;}
.transparent a:visited{color:#aaaaaa;}
.transparent a:link{color:#aaaaaa;}
.transparent a:hover{color:#8888ff;}
.transparent .section{border-left: 1 solid #aaaaaa;}

.footer{
	color:#cccccc;
	text-align: center;
	margin-top:20px;
	font-size:12px;
}

.tagsPanel{
	background-color:#eeeeee;
	padding:5px;
}
.advantage{
	color:#008800;
	font-weight:bold;
}
.disadvantage{
	color:#dd4444;
	font-weight:bold;
}
.contra{
	color:#882200;
}