.ganttChart{
	border:1px solid green;
}
.ganttSlider{
	background-color:#f00;
	cursor: pointer;
}
.ganttCell{
	padding-left:3px;
	overflow:hidden;
	border:1px solid #ccc;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*font-size:12px;*/
}