.ganttChart{
	border:1px solid blue;
}
.ganttSlider{
	background-color:#f00;
}
.ganttCell{
	padding-left:3px;
	overflow:hidden;
	border:1px solid #ccc;
	text-overflow: ellipsis;
	white-space: nowrap;
}